@media (max-width: 650px) {
  .timer {
    margin-top: 30px;
  }
  .timer__wrapper {
    gap: 15px;
  }
  .timer__title {
    font-size: 20px;
  }
  .timer__block {
    padding: 5px;
  }
}

@media(max-width: 520px){
  .timer__input{
    max-width: 100px;
  }
  .timer__name{
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .timer__wrapper {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .timer__buttons {
    margin-top: 20px;
  }
  .btn{
    font-size: 25px;
  }
  .timer__buttons{
    flex-wrap: wrap;
  }
}


@media(max-width: 340px){
  .timer__input{
    max-width: 90px;
  }

}